@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden !important
}

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
} */

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animate__flipInY {
  animation-name: flipInY;
}

body {
  transition: background-color 0.5s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
  }
}